:root{
    /* color variables */
    --primary: cadetblue;
    --accent: crimson;
    --light: mistyrose;
    --dark: darkslategrey;
}

/* begin header */
header {
    display: flex;
    background-color: var(--primary);
    border: var(--accent);
    border-style: double;
    border-width: 5px;
}

h1 {
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--light);
    margin: 10px;
}

nav {
    background-color: var(--primary);
    border-bottom: 5px --light;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

nav li {
    margin: 8px;
}

nav a {
    color: var(--light);
    text-decoration: none;
}

nav a:hover {
    color: var(--accent);
    text-decoration: underline;
}
/* end header */

/* main starts */
main{
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
}

aside {
    width: 576px;
    /* background-color: var(--light); */
    background-image: linear-gradient(var(--light), var(--primary));
}

aside img {
    width: 576px;
    height: 384px;
}

h2 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    color: var(--dark);
    padding: 10px;
}

aside p {
    color: var(--dark);
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    line-height: 125%;
}

.card-container {
    display: flex;
    background-color: var(--dark);
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card {
    border: var(--accent);
    border-width: 5px;
    border-style: solid;
    transition: all 0.25s ease-in-out;
    margin: 20px;
    padding: 10px;
    min-width: 250px;
    /* max-width: 350px; */
    text-align: center;
}

h3 {
    display: relative;
    margin-top: -30px;
    margin-left: 10px;

    background-color: var(--primary);
    color: var(--light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    padding: 10px;
    width: 50%;

    border: solid var(--accent);
    border-width: 5px;
}

.card p {
    line-height: 150%;
    margin: 10px;
    max-width: 375px;
    color: var(--light);
    font-family: 'Times New Roman', Times, serif;
}

.card a {
    display: flex;
    flex-direction: column;
    color: var(--light);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .card img {
    max-width: 350px;
} */

#first-project img {
    width: 500px;
}

.card:hover {
    box-shadow: 0px 0px 5px 5px var(--light);
}

footer {
    background-color: var(--primary);
    border: double var(--accent);
    border-width: 5px;
}

h4 {
    text-align: center;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--light);
    text-decoration: underline;
    padding: 10px;
}

.contact ul{
    display: flex;
    justify-content: space-around;

    padding: 20px;
    list-style: none;
}

.contact a {
    color: var(--light);
}

.contact a:hover {
    color: var(--accent);
}

h5 {
    color: var(--dark);
    text-align: center;
}

@media screen and (max-width: 992px) {
    nav ul,
    main,
    .card-container {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }
}